.slideshow{
    margin-left: 0.2% ;
    margin-right: 0.2%;
}
.carousel-item{
    height: 70vh;
}

@media only screen and (max-width: 900px){
    .carousel-item{
        height: 100%;
    }
  }
  
.carousel-item > img { 
    width: 100%; 
    height: auto;
}